VITE_SUPABASE_URL=https://yhhwoayavdskuupxswho.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InloaHdvYXlhdmRza3V1cHhzd2hvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU5NTE5ODQsImV4cCI6MjEwMTUyNzk4NH0.3cDTjwboupxR1Mu6eUT3s-QN_W4oUVUCAyzAjqaa5KE
